.activar{
    display:none;
}

.active{
    display: none;
}

.definido{
    background-color: rgb(97, 34, 50);
    margin-right: 1rem;
    margin-left: 1rem;
    color: rgb(182, 150, 100);
    cursor: pointer;
}

.seleccionada{
    background-color: rgb(97, 34, 50);  
    color: white;
}
