<!-- CANDIDATO -->
<div [ngClass]="{'activar':ocultarNavbar, '':!ocultarNavbar}">
  <div *ngIf="cargarPantalla(); else pantallaVacia">
    <div style="padding: 2rem;">
      <div class="nav justify-content-end">

        <b class="definido" name="vacantes" href="#" (click)="seleccionar('Vacantes')"
          [ngClass]="{'':vacantes, 'active':!vacantes}">Vacantes</b>

        <b class="definido" name="postulaciones" href="#" (click)="seleccionar('Postulaciones')"
          [ngClass]="{'':postulaciones, 'active':!postulaciones}">Postulaciones</b>

        <b class="definido" name="nueva" href="#" (click)="seleccionar('Publicar Nueva')"
          [ngClass]="{'':publicarNueva, 'active':!publicarNueva}">Publicar Nueva</b>

        <b class="definido" name="publicaciones" href="#" (click)="seleccionar('Publicaciones')"
          [ngClass]="{'':publicaciones, 'active':!publicaciones}">Publicaciones</b>

        <b class="definido" name="administrar" href="#" (click)="seleccionar('Administrar')"
          [ngClass]="{'':administrar, 'active':!administrar}">Administrar</b>

        <b class="definido" name="proceso" href="#" (click)="seleccionar('Peticiones')"
          [ngClass]="{'':peticiones, 'active':!peticiones}">Procesos</b>

        <b class="definido" name="notificaciones" href="#" (click)="seleccionar('Notificaciones')"
          [ngClass]="{'':notificaciones, 'active':!notificaciones}">Notificaciones</b>

        <b class="definido" name="perfil" (click)="seleccionar('Perfil')"
          [ngClass]="{'':perfil, 'active':!perfil}">Perfil</b>

        <b class="definido" name="login" href="#" (click)="seleccionar('Login')"
          [ngClass]="{'':start, 'active':!start}">Login</b>
      </div>
    </div>
  </div>

  <ng-template #pantallaVacia>
    <p style="text-align: center;">No hay nada aqui</p>
  </ng-template>

</div>