
.cajaIzquierda{
    display: grid;
    margin-right: .5rem;
    width: 30%;
    height: 100%;
   
}
.cajaDerecha{
    display: inline;
    margin-left: .5rem;
    width: 70%;
}

.scrollMenu{
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}

.on{
    display:none;
}

.fijar{
    position: sticky;
    top: 150px;
    z-index: 100;
    display: block;
    margin-bottom: 2rem;
}