.botonesBusqueda{
    border-color:rgb(50, 90, 79) ;
    color:rgb(50, 90, 79) ;
}
.botonesBusqueda:hover{
    color:white;
    background-color: rgb(50, 90, 79) ;
}

.botoneSelecionado{
    color:white;
    background-color: rgb(50, 90, 79) ;
}

.botondeMas{
    color:rgb(151, 121, 77);
    border-color: rgb(151, 121, 77);
}
.botondeMas:hover{
    color:white;
    background-color: rgb(151, 121, 77) ;
}

.botondeInfo{
    color:white;
    background-color:rgb(182,150,100);
}
.encabezado{
    border-radius: 5px 5px 0px 0px;
    font-size: xx-small;
    color:white;
    background-color: rgb(50, 90, 79) ;
}

.vacanteStilo{
    transition: all 0.3s;
    opacity: 0;
}

.visualizar{
    opacity: 1;
}

.moverX{
    transform: translateX(10%);
}

.moverY{
    transform: translateX(-10%);
}

.fijar{
    position: sticky;
    top: 150px;
    z-index: 100;
    display: block;
}

.contenedorInferior{
    display: flex;
}

.lista{
    margin-top: 2rem;
    width: 50%;
    display: block;
}

.vacante{

    margin-top: 3rem;
    margin-left: 2rem;
    width: 35%; 

    position:fixed;
    top: 13rem;
    right: 7rem;

}

.vacantedeLista{
   opacity: .1;
   transition: all 0.3s;
   scale: 95%;
   pointer-events: none;
}

.transform_up{
    transform: translateY(20%);
}

.transform_drown{
    transform: translateY(-20%);
}

.transform_right{
    transform: translateX(-20%);
}

.transform_left{
    transform: translateX(20%);
}

.aparece{
    opacity: 1; 
    transform: none;
    pointer-events: all;
    scale: 100%;
}

.contenedorBusqueda{
    height: 100%;
}

.contenedorComponent{
    position: absolute;
    top: 0%;
}

.fijarVacante{
    position: sticky;
    top: 240px;
    z-index: 1;
    display: block;
}

.cajaIzquierda{
    display: grid;
    margin-right: .5rem;
    width: 50%;
    height: 100%;
}
.cajaDerecha{
    display: inline;
    margin-left: .5rem;
    width: 50%;
}

.scrollMenu{
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}

.contenedor{
    padding-left: 2rem;
    padding-right: 2rem;
}


.botonInformativo{
  margin-left: .3rem;
  margin-right: .3rem;
  pointer-events: none;
}

.botonInformativo2{
    margin-left: .3rem;
    margin-right: .3rem;
}

.textoInformativo{
    color:darkgrey;
}

.on{
    display: none;
}
.long{
    width: 100%;
}
