<div *ngIf="cargarPantallaPrincipal(); else noSeleccionado">
    <div>
        <div style="padding-bottom: 0%;">
            <div class="card caja2">
                <table class="table table-striped" style="margin: 0%; font-size: small;  text-align: center;"  
                [ngClass]="{'':persona, 'ocultar':!persona}">
                    <tr>
                        <td [ngClass]="{'':persona, 'idP':!persona}">{{id_elemento}}</td>
                        <td [ngClass]="{'':persona, 'nombreP':!persona}">{{nombreElemento}}</td>
                        <!-- vacante -->
                        <td [ngClass]="{'ocultar':vacante, '':!vacante}">sueldo</td>
                        <td [ngClass]="{'ocultar':vacante, 'horario':!vacante}">horario</td>
                        <td [ngClass]="{'ocultar':vacante, '':!vacante}">modalidad</td>
                        <td td [ngClass]="{'':persona, 'borrarElemento':!persona}">borrar elemento</td>
                        <td td [ngClass]="{'':persona, 'borrarElemento':!persona}">Editar elemento</td>
                    </tr>
                </table>
                <table class="table table-striped" style="margin: 0%; font-size: small;  text-align: center;"  
                [ngClass]="{'ocultar':persona, '':!persona}">
                    <tr>
                        <td [ngClass]="{'ocultar':persona, 'idP':!persona}">{{id_elemento}}</td>
                        <td [ngClass]="{'ocultar':persona, '':!persona}">{{nombreElemento}}</td>
                        <!-- persona -->
                        <td [ngClass]="{'ocultar':persona, 'apellido':!persona}">apellido P</td>
                        <td [ngClass]="{'ocultar':persona, 'apellido':!persona}">apellido M</td>
                        <td [ngClass]="{'ocultar':persona, 'correo':!persona}">correo</td>
                        <td td [ngClass]="{'':persona, 'botonPersonaI':!persona}">borrar elemento</td>
                        <td td [ngClass]="{'':persona, 'botonPersonaII':!persona}">Editar elemento</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="interiores">
        <div class="card caja scrollMenu">
            <table class="table table-striped" style="margin: 0%; font-size: small;  text-align: center;"
            [ngClass]="{'':persona, 'ocultar':!persona}">
                <tbody style="margin-top: 2rem; font-size: small;  text-align: center;">
                    <tr *ngFor="let objeto of vectorGeneral">
                        <td [ngClass]="{'idTabla':vacante, 'idTablaV':!vacante}">{{objeto.id}}</td>
                        <td [ngClass]="{'nombre':vacante, 'nombreV':!vacante}">{{objeto.nombre}}</td>
                        <td [ngClass]="{'ocultar':vacante, '':!vacante}"> {{objeto.sueldo}}</td>
                        <td [ngClass]="{'ocultar':vacante, '':!vacante}"> {{objeto.horario}}</td>
                        <td [ngClass]="{'ocultar':vacante, 'modalidad':!vacante}"> {{objeto.modalidad.modalidad}}</td>
                        <td [ngClass]="{'botonB':vacante, 'botonBV':!vacante}">
                            <button name="borrarBTN" type="button" class="btn btn-outline-danger btn-sm"
                                (click)="borrar(objeto)">borrar {{tipoVector}}</button>
                        </td>
                        <td [ngClass]="{'botonS':vacante, 'botonSV':!vacante}">
                            <button type="button" class="btn btn-outline-secondary btn-sm"
                                (click)="seleccionar(objeto)">seleccionar {{tipoVector}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-striped" style="margin: 0%; font-size: small;  text-align: center;"
            [ngClass]="{'ocultar':persona, '':!persona}">
                <tbody style="margin-top: 2rem; font-size: small;  text-align: center;">
                    <tr *ngFor="let objeto of vectorGeneral">
                        <td [ngClass]="{'ocultar':persona, 'idP':!persona}">{{objeto.id}}</td>
                        <td [ngClass]="{'ocultar':persona, '':!persona}">{{objeto.nombre}}</td>
                        <td [ngClass]="{'ocultar':persona, 'apellido':!persona}"> {{objeto.apellidoP}}</td>
                        <td [ngClass]="{'ocultar':persona, 'apellido':!persona}"> {{objeto.apellidoM}}</td>
                        <td [ngClass]="{'ocultar':persona, 'correo':!persona}"> {{objeto.correo}}</td>
                        <td [ngClass]="{'ocultar':persona, 'botonPersonaI':!persona}">
                            <button name="borrarBTN" type="button" class="btn btn-outline-danger btn-sm"
                                (click)="borrar(objeto)">eliminar cuenta</button>
                        </td>
                        <td [ngClass]="{'ocultar':persona, 'botonPersonaII':!persona}">
                            <button type="button" class="btn btn-outline-secondary btn-sm"
                                (click)="seleccionar(objeto)">seleccionar {{tipoVector}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="formularioInt">
        <div class="card caja">
            <div style="margin-bottom: .5rem;">
                <div style="display:grid;">
                    <div style="display: flex;">
                        <div style="display:grid; width: 50%;">
                            <div style="width: 100%;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6" style="padding-left: 0%; padding-bottom: .3rem;">
                                            {{id_elemento}} :
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div style="display: flex;">
                                <div style="width: 100%;">
                                    <input class="form-control" type="text" placeholder="Apellido Paterno"
                                        aria-label="default input example" [(ngModel)]="id_Captura" disabled>
                                </div>
                            </div>
                        </div>

                        <div style="display:grid; width: 50%; margin-left: 1rem; margin-right: 0rem;">
                            <div style="width: 100%;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6" style="padding-left: 0%; padding-bottom: .3rem;">
                                            {{nombreElemento}} :
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="display: flex;">
                                <div style="width: 100%;">
                                    <input class="form-control" type="text" placeholder="nombre"
                                        aria-label="default input example" [(ngModel)]="nombreCaptura">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-bottom: .5rem;">
                <button name="CreateObj" type="button" class="btn btn-success" style="width: 100%;" (click)="agregar()">
                    GUARDAR NUEVO</button>
            </div>
            <div style="margin-bottom: .5rem;">
                <button name="ModObj" type="button" class="btn btn-warning" style="width: 100%;" (click)="editar()">
                    GUARDAR CAMBIOS </button>
            </div>
        </div>
    </div>
</div>

<ng-template #noSeleccionado>
    <p style="text-align: center;">No se ha seleccionado una lista</p>
</ng-template>