.caja{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    z-index: 2;
}

.interiores{
    padding-right: 2rem;
    padding-left: 2rem;
}

.fijar{
    position: sticky;
    top: 600px;
    z-index: 1;
}

.bloqueo{
    pointer-events: none;
    opacity: .5;
}

.fijarII{
    position: sticky;
    top: 160px;
    z-index: 1;
}
.scrollMenu{
    width: 100%;
    height: 300px;
    border-radius: 0px 0px 0px 0px;
    overflow-y: scroll;
}