<div class="caja">
    <div class="cajaIzquierda" [ngClass]="{'enBlock':perfilTipoCandidato, '':!perfilTipoCandidato}">
        <div class="" id="accordion">
            <div class="accordion-item ">
                <h2 class="accordion-header">
                    <button class="accordion-button enlacesInfotec" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                        (click)="modificarPrincipales()"
                        [ngClass]="{'':datosPrincipales, 'seleccion':!datosPrincipales}">
                        <b>MODIFICAR INFORMACIÓN</b>
                        <hr>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <!--  -->
                        <h2 class="accordion-header" style="margin-top: 1rem;">
                            <button class="accordion-button enlacesInfotec" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collap" aria-expanded="true" aria-controls="collap"
                                style="padding: .5rem; align-content: center;">
                                Datos de Usuario:
                                <hr>
                            </button>
                        </h2>

                        <div class="input-group input-group-sm" style="margin-bottom: .5rem;">
                            <button class="input-group-text campoInfotec" id="inputGroup-sizing-sm"
                            style="text-align: center; width: 163px;">
                            <b> CAMBIAR NOMBRE </b> </button>
                            <input type="text" class="form-control bordesInfotec" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm" style="border-radius: 0px 0px 0px 0px;"
                            placeholder="Ingresa el nuevo nombre" [(ngModel)]="nuevoNombre">

                            <button class="input-group-text campoInfotec" id="inputGroup-sizing-sm"
                            style="text-align: center; width: 163px;">
                            <b>APELLIDO PATERNO</b> </button>
                            <input type="text" class="form-control bordesInfotec" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm" style="border-radius: 0px 0px 0px 0px;"
                            placeholder="Ingresa el nuevo apellido paterno" [(ngModel)]="nuevoApellidoP">

                            <button class="input-group-text campoInfotec" id="inputGroup-sizing-sm"
                            style=" text-align: center; width: 163px;">
                            <b> APELLIDO MATERNO</b> </button>
                            <input type="text" class="form-control bordesInfotec" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm" style="border-radius: 0px 5px 5px 0px;"
                            placeholder="Ingresa el nuevo apellido materno" [(ngModel)]="nuevoApellidoM">
                        </div>
<!-- 
                        <div class="input-group input-group-sm" style="margin-bottom: .5rem;">
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-sm" style="border-radius: 5px 0px 0px 5px;"
                                placeholder="Ingresa el nuevo nombre" [(ngModel)]="nuevoNombre">
                            <button class="input-group-text btnInfotec" id="inputGroup-sizing-sm"
                                style="width: 35%; text-align: center;">
                                <b> CAMBIAR NOMBRE </b> </button>
                        </div>

                        <div class="input-group input-group-sm" style="margin-bottom: .5rem;"
                            [ngClass]="{'view':perfilTipoAdministrador, '':!perfilTipoAdministrador}">
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-sm" style="border-radius: 5px 0px 0px 5px;"
                                placeholder="Ingresa el nuevo apellido paterno" [(ngModel)]="nuevoApellidoP">
                            <button class="input-group-text btnInfotec" id="inputGroup-sizing-sm"
                                style="width: 35%; text-align: center;">
                                <b> CAMBIAR APELLIDO </b> </button>
                        </div>

                        <div class="input-group input-group-sm" style="margin-bottom: .5rem;"
                            [ngClass]="{'view':perfilTipoAdministrador, '':!perfilTipoAdministrador}">
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-sm" style="border-radius: 5px 0px 0px 5px;"
                                placeholder="Ingresa el nuevo apellido materno" [(ngModel)]="nuevoApellidoM">
                            <button class="input-group-text btnInfotec" id="inputGroup-sizing-sm"
                                style="width: 35%; text-align: center;">
                                <b> CAMBIAR APELLIDO </b> </button>
                        </div> 

                        <div class="cajaInterna">

                            <div class="internaIzquierda"
                                [ngClass]="{'view':perfilTipoCandidato, '':!perfilTipoCandidato}">
                                <div class="input-group input-group-sm" style="margin-bottom: .5rem;">
                                    <button class="input-group-text btnInfotec" id="inputGroup-sizing-sm"
                                        style="width: 60%; text-align: center;">
                                        <b> CAMBIAR APELLIDO </b> </button>
                                    <input type="text" class="form-control" aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-sm" style="border-radius: 0px 5px 5px 0px;"
                                        placeholder="Paterno" [(ngModel)]="nuevoApellidoP">
                                </div>
                            </div>

                            <div class="internaDerecha">
                                <div class="input-group input-group-sm" style="margin-bottom: .5rem;"
                                    [ngClass]="{'view':perfilTipoCandidato, '':!perfilTipoCandidato}">
                                    <input type="text" class="form-control" aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-sm" style="border-radius: 5px 0px 0px 5px;"
                                        placeholder="Materno" [(ngModel)]="nuevoApellidoM">
                                    <button class="input-group-text btnInfotec" id="inputGroup-sizing-sm"
                                        style="width: 60%; text-align: center;">
                                        <b> CAMBIAR APELLIDO </b> </button>
                                </div>
                            </div>
                        </div>
-->
                        <div class="cajaInterna">

                            <div class="internaIzquierda"
                                [ngClass]="{'view':perfilTipoCandidato, '':!perfilTipoCandidato}">
                                <div class="input-group input-group-sm" style="margin-bottom: .5rem;">
                                    <button class="input-group-text campoInfotec" id="inputGroup-sizing-sm"
                                        style="width: 218px; text-align: center;">
                                        <b> F. NACIMIENTO </b> </button>

                                    <input type="date" class="form-control bordesInfotec" aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-sm" style="border-radius: 0px 5px 5px 0px;"
                                        placeholder="Ingresa la nueva edad" [(ngModel)]="nuevaFecha">
                                </div>
                            </div>

                            <div class="internaDerecha"
                                [ngClass]="{'enBlock':perfilTipoCandidato, '':!perfilTipoCandidato}">
                                <div class="input-group input-group-sm" style="margin-bottom: .5rem;">
                                    <button name="btnLada" class="btn btn-outline-secondary dropdown-toggle btnInfotec" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">{{lada}}</button>
                                    <ul class="dropdown-menu">
                                        <li><button class="dropdown-item listasInfotec" type="button"
                                                *ngFor="let ladaSeleccionada of ladasMexico"
                                                (click)="actualizarLada(ladaSeleccionada)">{{ladaSeleccionada}}</button>
                                        </li>
                                    </ul>
                                    <input type="text" class="form-control bordesInfotec" aria-label="Text input with dropdown button"
                                        placeholder="55-55-55-55-55" [(ngModel)]="nuevoTelefono">
                                    <button class="input-group-text campoInfotec" id="inputGroup-sizing-sm"
                                        style="width: 218px; text-align: center;">
                                        <b> TELEFONO </b> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div [ngClass]="{'view':perfilTipoCandidato, '':!perfilTipoCandidato}">
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">

                    <h2 class="accordion-header">
                        <button class="accordion-button enlacesInfotec" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collap" aria-expanded="true" aria-controls="collap"
                            style="padding: .5rem;  align-content: center;">
                            Zona y Ubicación:
                            <hr>
                        </button>
                    </h2>

                 

                    <div class="cajaInterna">



                        <div class="internaGeneral">

                            <div class="input-group input-group-sm" style="margin-bottom: .5rem;">
                                <button class="input-group-text campoInfotec" id="inputGroup-sizing-sm"
                                    style="text-align: center; border-radius: 5px 0px 0px 5px;">
                                    <b> CAMBIAR DOMICILIO </b> </button>
                                <input type="text" class="form-control bordesInfotec" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm" style="border-radius: 0px 0px 0px 0px;"
                                    placeholder="Ingresa el nuevo domicilio" [(ngModel)]="nuevoDomicilio">
                            </div>

                            <div class="input-group" style="margin-bottom: .5rem;">
                                <label class="input-group-text campoInfotec" for="inputGroupSelect01"
                                    style="width: 163px; height: 2rem; border-radius: 0px 0px 0px 0px;">
                                    <b>
                                        ESTADO </b> </label>
                                <button class="form-select bordesInfotec" type="button" id="inputGroupSelect01"
                                    data-bs-toggle="dropdown" aria-expanded="false"
                                    style="font-size: x-small; border-radius: 0px 0px 0px 0px;">{{nuevoEstado.nombreEstado}}</button>
                                <ul class="dropdown-menu">
                                    <div class="scrollMenu">
                                        <li><button class="dropdown-item listasInfotec" type="button"
                                                *ngFor="let estadoSeleccionado of estadosMexico"
                                                (click)="actualizarEstado(estadoSeleccionado)">{{estadoSeleccionado.nombreEstado}}</button>
                                        </li>
                                    </div>
                                </ul>
                            </div>

                            <div class="input-group" style="margin-bottom: .5rem;">
                                <label class="input-group-text campoInfotec" for="inputGroupSelect01"
                                style="height: 2rem; width: 163px; border-radius: 0px 0px 0px 0px;">
                                <b>
                                    MUNICIPIO </b> </label>
                                <button class="form-select bordesInfotec" type="button" id="inputGroupSelect01"
                                    data-bs-toggle="dropdown" aria-expanded="false"
                                    style="font-size: x-small; border-radius: 0px 5px 5px 0px;"
                                    [ngStyle]="{'pointer-events':bloquearMunicipio}">{{nuevoMunicipio.nombreMunicipio}}</button>
                                <ul class="dropdown-menu">
                                    <div class="scrollMenu">
                                        <li><button class="dropdown-item listasInfotec" type="button"
                                                *ngFor="let municipioSeleccionado of municipiosMexico"
                                                (click)="actualizarMunicipio(municipioSeleccionado)">{{municipioSeleccionado.nombreMunicipio}}</button>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cajaDerecha" [ngClass]="{'view':perfilTipoCandidato, '':!perfilTipoCandidato}">
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <h2 class="accordion-header">
                    <button class="accordion-button enlacesInfotec" type="button" data-bs-toggle="collapse" data-bs-target="#collap"
                        aria-expanded="true" aria-controls="collap"
                        style="padding: .5rem; align-content: center;">
                        Formación Academica y Experiencia:
                        <hr>
                    </button>
                </h2>

                <div class="input-group input-group-sm" style="margin-bottom: .5rem;">
                    <button class="input-group-text campoInfotec" id="inputGroup-sizing-sm" style="width: 218px; text-align: center;">
                        <b> CAMBIAR PROFESIÓN </b> </button>
                    <input type="text" class="form-control bordesInfotec" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm" style="border-radius: 0px 5px 5px 0px;"
                        placeholder="Ingresa la nueva profesión" [(ngModel)]="nuevaProfesion">
                 
                </div>

                <div class="cajaInterna">
                    <div class="internaIzquierda">
                        <div class="input-group input-group-sm" style="margin-bottom: .5rem;">
                            <button class="input-group-text campoInfotec" id="inputGroup-sizing-sm"
                                style="width:218px; text-align: center;">
                                <b> ÚLTIMO CENTRO EDUCATIVO </b> </button>
                            <input type="text" class="form-control bordesInfotec" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-sm" style="border-radius: 0px 5px 5px 0px;"
                                placeholder="Ingresa el centro educativo" [(ngModel)]="nuevoCentroEducativo">

                        </div>
                    </div>
                    <div class="internaDerecha">
                        <div class="input-group input-group-sm" style="margin-bottom: .5rem;">
                            <input type="text" class="form-control bordesInfotec" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-sm" style="border-radius: 5px 0px 0px 5px;"
                                placeholder="Ingresa tu puesto actual" [(ngModel)]="nuevoPuesto">
                            <button class="input-group-text campoInfotec" id="inputGroup-sizing-sm"
                                style="width: 218px; text-align: center;">
                                <b> PUESTO ACTUAL</b> </button>
                        </div>

                    </div>
                </div>

                <h2 class="accordion-header">
                    <button class="accordion-button enlacesInfotec" type="button" data-bs-toggle="collapse" data-bs-target="#collap"
                        aria-expanded="true" aria-controls="collap"
                        style="padding: .5rem; align-content: center;">
                        Descripcion y habilidades
                        <hr>
                    </button>
                </h2>

                <div class="input-group input-group-sm" style="display: block;">
                    <label class="input-group-text campoInfotec" id="inputGroup-sizing-sm"
                        style="width: 100%; text-align: center; border-radius: 5px 5px 0px 0px; margin: 0%; padding-bottom: .4rem; padding-top: .5rem;">
                        <b class=""> AGREGAR UNA DESCRIPCIÓN </b> </label>
                    <textarea class="form-control bordesInfotec" id="exampleFormControlTextarea1" rows="3"
                        style="width: 100%; border-radius: 0px 0px 5px 5px; margin: 0%; font-size: small;"
                        [(ngModel)]="nuevaDescripcion"></textarea>
                </div>

            </div>
        </div>
    </div>
</div>

<div [ngClass]="{'view':perfilTipoCandidato, '':!perfilTipoCandidato}">
    <div style="display: block;">
        <!-- habilidades -->
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">

                <h2 class="accordion-header ">
                    <button class="accordion-button enlacesInfotec" type="button" data-bs-toggle="collapse" data-bs-target=""
                        aria-expanded="true" aria-controls="">
                        SELECCION DE HABILIDADES
                        <hr>
                    </button>
                </h2>

                <form name="f1" id="formElement">
                    <div class="form-check form-check-inline" *ngFor="let h of habilidades">
                        <input class="form-check-input mycheck" type="checkbox" id="{{h.nombreHabilidad}}"
                            name="{{h.nombreHabilidad}}" [value]="h.nombreHabilidad">
                        <label class="form-check-label textosIdiomas" for="{{h.nombreHabilidad}}">{{h.nombreHabilidad}}</label>
                    </div>
                </form>

                <!-- idiomas -->

                <h2 class="accordion-header ">
                    <button class="accordion-button enlacesInfotec" type="button" data-bs-toggle="collapse" data-bs-target=""
                        aria-expanded="true" aria-controls="">
                        SELECCION DE IDIOMAS
                        <hr>
                    </button>
                </h2>
                <form name="f2">
                    <div class="form-check form-check-inline" *ngFor="let i of idiomas">
                        <input class="form-check-input mycheck2" type="checkbox" id="{{i.nombreIdioma}}"
                            name="{{i.nombreIdioma}}" [value]="i.nombreIdioma">
                        <label class="form-check-label textosIdiomas" for="{{i.nombreIdioma}}">{{i.nombreIdioma}}</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>

    <div class="" id="accordion" style="margin-bottom: .5rem; margin-top: .5rem;">
        <div class="accordion-item ">
            <h2 class="accordion-header ">
                <button class="accordion-button enlacesInfotec" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne"
                    (click)="modificarSecundarios()" [ngClass]="{'':datosSecundarios, 'seleccion':!datosSecundarios}">
                    <b>INFORMACION ADICIONAL</b>
                    <hr>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                <div class="accordion-body">

                    <h2 class="accordion-header ">
                        <button class="accordion-button " type="button" data-bs-toggle="collapse"
                            data-bs-target="#collap" aria-expanded="true" aria-controls="collap"
                            style="padding: .5rem; color:rgb(89, 92, 94); height: 1.8rem; align-content: center;">
                            Informacion Adicional:
                            <hr>
                        </button>
                    </h2>

                    <div [ngClass]="{'view':perfilTipoCandidato, '':!perfilTipoCandidato}">
                        <div class="input-group input-group-sm" style="margin-bottom: .5rem;">
                            <input class="form-control  form-control-sm" id="formFileSm" type="file"
                                (change)="uploadCV($event)">
                            <button class="input-group-text campoInfotec" id="inputGroup-sizing-sm"
                                style="width: 35%; text-align: center;">
                                <b> CURRICULUM VITAE (PDF)</b> </button>
                        </div>
                    </div>

                    <div class="input-group input-group-sm" style="margin-bottom: .5rem;">
                        <input class="form-control form-control-sm" id="formFileSm" type="file"
                            (change)="uploadImage($event)">
                        <button class="input-group-text campoInfotec" id="inputGroup-sizing-sm"
                            style="width: 35%; text-align: center;">
                            <b> IMAGEN DE PERFIL (PNG / JPG)</b> </button>
                    </div>

                    <div class="input-group input-group-sm" style="margin-bottom: .5rem;">
                        <input class="form-control form-control-sm" id="formFileSm" type="file"
                            (change)="uploadImagePortada($event)">
                        <button class="input-group-text campoInfotec" id="inputGroup-sizing-sm"
                            style="width: 35%; text-align: center;">
                            <b> IMAGEN DE PORTADA (PNG / JPG)</b> </button>
                    </div>

                </div>
                <div class="accordion-body" [ngClass]="{'view':perfilTipoCandidato, '':!perfilTipoCandidato}">

                    <h2 class="accordion-header ">
                        <button class="accordion-button " type="button" data-bs-toggle="collapse"
                            data-bs-target="#collap" aria-expanded="true" aria-controls="collap"
                            style="padding: .5rem; color:rgb(89, 92, 94); height: 1.8rem; align-content: center;">
                            Informacion Adicional:
                            <hr>
                        </button>
                    </h2>

                    <div>
                        <div class="container text-center" name ="primero">
                            <div class="row">
                              <div class="col-11 captura">
                                <div class="input-group input-group-sm" style="margin-bottom: .5rem;">
                                    <input class="form-control form-control-sm" id="formFileSm" type="file"
                                        (change)="uploadEspecialidad($event)">
                                    <button class="input-group-text campoInfotec" id="inputGroup-sizing-sm"
                                        style="width: 136.31px; text-align: center;">
                                        <b>  ESPECIALIDAD I</b> 
                                    </button>
                                    <input type="text" class="form-control bordesInfotec" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm"
                                    placeholder="Ingresa una descripción" [(ngModel)]="descripcionI">
                                <button class="input-group-text campoInfotec" id="inputGroup-sizing-sm"
                                    style="width: 243px; text-align: center;">
                                    <b> DESCRIPCIÓN DEL DOCUMENTO </b> </button>
                                </div>
                              </div>
                              <div class="col-1">
                                <button type="button" class="btn botonMas"
                                style="border-radius: 15px 15px 15px 15px; height: 30px; width: 30px; padding: 0%;  margin-left: .5rem;"
                                (click)="mostarBotones('primero')">
                               <b> + </b>
                            </button>
                            <button type="button" class="btn botonMenos"
                                style="border-radius: 15px 15px 15px 15px; height: 30px; width: 30px; padding: 0%;  margin-left: .5rem;"
                                (click)="ocultarBotones('primero')">
                               <b> - </b> 
                            </button>
                              </div>
                            </div>
                        </div>
                        <div class="container text-center" name ="segundo">
                            <div class="row">
                              <div class="col-11 captura">
                                <div class="input-group input-group-sm" style="margin-bottom: .5rem;">
                                    <input class="form-control form-control-sm" id="formFileSm" type="file"
                                        (change)="uploadEspecialidadII($event)">
                                    <button class="input-group-text campoInfotec" id="inputGroup-sizing-sm"
                                        style="width: 136.31px; text-align: center;">
                                        <b>  ESPECIALIDAD II</b> 
                                    </button>
                                    <input type="text" class="form-control bordesInfotec" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm"
                                    placeholder="Ingresa una descripción" [(ngModel)]="descripcionII">
                                <button class="input-group-text campoInfotec" id="inputGroup-sizing-sm"
                                    style="width: 243px; text-align: center;">
                                    <b> DESCRIPCIÓN DEL DOCUMENTO </b> </button>
                                </div>
                              </div>
                              <div class="col-1">
                                <button type="button" class="btn botonMas"
                                style="border-radius: 15px 15px 15px 15px; height: 30px; width: 30px; padding: 0%;  margin-left: .5rem;"
                                (click)="mostarBotones('segundo')">
                               <b> + </b>
                            </button>
                            <button type="button" class="btn botonMenos"
                                style="border-radius: 15px 15px 15px 15px; height: 30px; width: 30px; padding: 0%;  margin-left: .5rem;"
                                (click)="ocultarBotones('segundo')">
                               <b> - </b> 
                            </button>
                              </div>
                            </div>
                        </div>
                        <div class="container text-center" name ="tercero">
                            <div class="row">
                              <div class="col-11 captura">
                                <div class="input-group input-group-sm" style="margin-bottom: .5rem;">
                                    <input class="form-control form-control-sm" id="formFileSm" type="file"
                                        (change)="uploadEspecialidadIII($event)">
                                    <button class="input-group-text campoInfotec" id="inputGroup-sizing-sm"
                                        style="width: 136.31px; text-align: center;">
                                        <b>  ESPECIALIDAD III</b> 
                                    </button>
                                    <input type="text" class="form-control bordesInfotec" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm"
                                    placeholder="Ingresa una descripción" [(ngModel)]="descripcionIII">
                                <button class="input-group-text campoInfotec" id="inputGroup-sizing-sm"
                                    style="width: 243px; text-align: center;">
                                    <b> DESCRIPCIÓN DEL DOCUMENTO </b> </button>
                                </div>
                              </div>
                              <div class="col-1">
                                <button type="button" class="btn botonMas"
                                style="border-radius: 15px 15px 15px 15px; height: 30px; width: 30px; padding: 0%;  margin-left: .5rem;"
                                (click)="mostarBotones('tercero')">
                               <b> + </b>
                            </button>
                            <button type="button" class="btn botonMenos"
                                style="border-radius: 15px 15px 15px 15px; height: 30px; width: 30px; padding: 0%;  margin-left: .5rem;"
                                (click)="ocultarBotones('tercero')">
                               <b> - </b> 
                            </button>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btnActualizar" style="width: 100%; margin-top: 1.7rem; display: inline;"
        (click)="capturarNuevosDatos()">MODIFICAR
        USUARIO</button>

</div>