.colorBoton{
    background-color:rgb(91, 164, 239);
    border-color: rgb(91, 164, 239); ;
    font-style:normal;
    color: white;
    text-align: center;
    border-radius: 5px;
}
.caja{
    padding-top: 0rem;
    padding-bottom: 0rem;
    display: flex;
}

.cajaIzquierda{
    display: grid;
    margin-right: .5rem;
    width: 50%;
}
.cajaDerecha{
    display: grid;
    padding-top: 1rem;
    margin-left: .5rem;
    width: 50%;
}

.internaDerecha{
    display: grid;
    margin-left: .2rem;
    width: 50%;
}

.internaIzquierda{
    display: grid;
    margin-right: .3rem;
    width: 50%;
}

.scrollMenu{
    width: 100%;
    height: 100px;
    overflow-y: scroll;
}

.view{
     display: none;
}

.completo{
     display: gird;
     width: 100%;
}

.enBlock{
    display:block;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
}

.cuadrar{
    margin-right: 0%;
    margin-left: 0%;
}

.seleccion{
    text-decoration: underline;
}



