<div>
    <div class="fijar">
        <div class="card caja2">
            <table class="table table-striped" style="margin: 0%; font-size: small;  text-align: center;">
                <tr>
                    <td class="idP letras">id proceso</td>
                    <td class="tipoP letras">Tipo de proceso</td>
                    <td class="fechaP letras">Fecha de proceso</td>
                    <td class="vacanteP letras">Nombre de la Vacante</td>
                    <td class="desc letras">Descripcion</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="interiores">
        <div class="card caja">
            <table class="table tablaInfotec" style="margin: 0%; font-size: small;  text-align: center;">
                <tbody style="margin-top: 2rem; font-size: small;  text-align: center;">
                    <tr *ngFor="let proceso of vectorLog">
                        <td class="idP">{{proceso.id_proceso}}</td>
                        <td class="tipoP">{{proceso.tipoProceso}}</td>
                        <td class="fechaP">{{proceso.fechaProceso}}</td>
                        <td class="vacanteP">{{proceso.nombreVacante}}</td>
                        <td class="desc">{{proceso.descripcion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="paginas" *ngIf="cargarProcesos(); else nopag">
    <div class="card " style="padding:.5rem;">
     <div class="card coloresInfotec" style="padding:.5rem;">
         <nav aria-label="Page navigation example">
             <ul class="pagination"  style="margin-bottom: 0px;">
               <li class="page-item">
                 <a class="page-link textosIndotec" aria-label="Previous" (click)="obtenerPag(0)">
                   <span aria-hidden="true">&laquo;</span>
                 </a>
               </li>
               <li class="page-item" *ngFor="let ventana of vectorPag let i = index" ><a class="page-link bordesInfotec" (click)="obtenerPag(i)">{{ventana}}</a></li>
               <li class="page-item">
                 <a class="page-link textosIndotec" (click)="obtenerUltima()" aria-label="Next">
                   <span aria-hidden="true">&raquo;</span>
                 </a>
               </li>
             </ul>
           </nav>
     </div>
    </div>
 </div>

 <ng-template #nopag>
                         
 </ng-template>