<div>
    <div class="fijar">
        <div class="card caja2">
            <table class="table table-striped" style="margin: 0%; font-size: small;  text-align: center;">
                <tr>
                    <td class="idP letras">id proceso</td>
                    <td class="tipoP letras">Tipo de proceso</td>
                    <td class="fechaP letras">Fecha de proceso</td>
                    <td class="vacanteP letras">Nombre de la Vacante</td>
                    <td class="desc letras">Descripcion</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="interiores">
        <div class="card caja">
            <table class="table tablaInfotec" style="margin: 0%; font-size: small;  text-align: center;">
                <tbody style="margin-top: 2rem; font-size: small;  text-align: center;">
                    <tr *ngFor="let proceso of vectorLog">
                        <td class="idP">{{proceso.id_proceso}}</td>
                        <td class="tipoP">{{proceso.tipoProceso}}</td>
                        <td class="fechaP">{{proceso.fechaProceso}}</td>
                        <td class="vacanteP">{{proceso.nombreVacante}}</td>
                        <td class="desc">{{proceso.descripcion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>