<div style="display: flex;">
    <div class="cajaIzquierda">
        <div style="text-align: center; margin-bottom: .5rem; padding-left: 1rem; padding-right: 1rem;">
            <b>CANDIDATOS A LA VACANTE</b>
            <hr>
        </div>
        <div style="padding: 1rem;">
            <div *ngIf="cargarPantallaI(); else pantallaVaciaI">

            </div>

            <ng-template #pantallaVaciaI>
                <p style="text-align: center;">La publicación no tiene Postulantes</p>
            </ng-template>
        </div>
    </div>

    <div class="cajaDerecha">
        <div style="text-align: center; margin-bottom: 2rem; padding-left: 1rem; padding-right: 1rem;">
            <b>VACANTES PUBLICADAS</b>
            <hr>
        </div>
        <div style="padding: 1rem;">
            <div *ngIf="cargarPantalla(); else pantallaVacia">
            <div class="scrollMenu">
                <div class="card carta" *ngFor="let vacante of publicaciones" style="margin-top: 1rem;">
                    <div class="card-body">
                        <h3 class="card-title">{{vacante.nombreVacante}} / {{vacante.especialista}}</h3>
                        <p class="card-text textoInformativo" style="padding-bottom: 0rem;">
                            Empresa que contrata: {{vacante.empresa.nombre}}
                            <br> Ubicación: {{vacante.municipio.nombreMunicipio}}
                            <!-- ver si colocamos el estado -->
                        </p>
                    
                        <div class="container text-rigth" style="padding: 0%;">
                            <div class="row">
                                <div class="col-9">
                                    <div style="padding-top: .5rem;">
                                        <span class="badge rounded-pill text-bg-secondary" style="padding: 0; font-size: medium;">
                                          <span class="badge rounded-pill text-bg-success">Sueldo</span>
                                          <label style="padding: .1rem; padding-right: .5rem; padding-left: .5rem;">{{vacante.sueldo}}.00 mxn / Mensuales</label>
                                        </span>
                                      </div>
                                
                                      <div style="padding-top: .5rem;">
                                        <span class="badge rounded-pill text-bg-secondary" style="padding: 0; font-size: medium;">
                                          <span class="badge rounded-pill text-bg-success">Horario Laboral</span>
                                          <label style="padding: .1rem; padding-right: .5rem; padding-left: .5rem;">{{vacante.horario}}</label>
                                        </span>
                                      </div>
                                </div>
                            </div>
                        </div>

                        <div style="margin-bottom: 1rem; padding-top: 2rem;">
                            <span class="placeholder col-12 placeholder-xs bg-secondary"
                                style="margin-bottom: .1rem; padding:0rem"></span>
                            <span class="placeholder col-12 placeholder-xs bg-secondary"
                                style="margin-bottom: .1rem; padding:0rem"></span>
                        </div>

                        <div class="d-grid" style="margin-top: 1rem;">
                            <button type="button" class="btn btn-secondary" style="margin-bottom: .5rem;" (click)="mostrarCandidatos(vacante)">VER CANDIDATOS VACANTE</button>
                            <button type="button" class="btn btn-warning" style="margin-bottom: .5rem;" (click)="modificarVacante(vacante)">MODIFICAR ESTA VACANTE</button>
                            <button type="button" class="btn btn-danger" style="margin-bottom: .5rem;" (click)="eliminarVacante(vacante)">ELIMINAR ESTA VACANTE</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <ng-template #pantallaVacia>
            <p style="text-align: center;">El empleador no tiene Publicaciones</p>
        </ng-template>
    </div>
</div>
</div>