<div class="fondo">
    <div style="display: flex;">
        <div class="cajaIzquierda">
            <div style="text-align: center;margin-bottom: 1rem; padding-left: 1rem; padding-right: 1rem;">
                <b>CANDIDATOS A LA VACANTE ( {{vacanteActual.nombreVacante}} )</b>
                <hr>
            </div>

            <div style="padding: 1rem;">
                <div *ngIf="cargarPantallaI(); else pantallaVaciaI">
                    <div class="scrollMenu" style="padding-right: 1rem;">
                        <div class="card carta" *ngFor="let candidato of candidatos" style="margin-top: 1rem;">
                            <div class="encabezadoDorado">
                                &nbsp;
                            </div>
                            <div class="card-body">
                                <div class="acciones">
                                    <div class="btn-group">
                                        <label type="button" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <h3 >...</h3>
                                        </label>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item listaInfotecDorado" (click)="verCandidato(candidato)">Ir al Perfil</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h3 class="card-title">{{candidato.usuario.nombre}} {{candidato.usuario.apellidoP}} /
                                    {{candidato.profesion}}</h3>
                                <p class="card-text textoInformativo" style="padding-bottom: 0rem;">
                                    <br> Ubicación: {{candidato.domicilio}}, {{candidato.municipio.nombreMunicipio}} estado de
                                    {{candidato.municipio.estado.nombreEstado}}.
                                    <!-- ver si colocamos el estado -->
                                </p>

                                <div class="d-grid" style="margin-top: 1rem;">
                                    <button type="button" class="btn btnAceptar" style="margin-bottom: .5rem;"
                                        (click)="aceptarCandidato(candidato)">ELEGIR CANDIDATO</button>
                                    <button type="button" class="btn btnQuitar" style="margin-bottom: .5rem;"
                                        (click)="obtenerPostulacion(candidato)">QUITAR CANDIDATO</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <ng-template #pantallaVaciaI>
                    <p style="text-align: center;">La publicación no tiene Postulantes</p>
                </ng-template>
            </div>
        </div>

        <div class="cajaDerecha">
            <div style="text-align: center; margin-bottom: 2rem; padding-left: 1rem; padding-right: 1rem;">
                <b>VACANTES GENERADAS</b>
                <hr>
            </div>
            <div style="padding: 1rem;">
                <div *ngIf="cargarPantalla(); else pantallaVacia">
                    <div class="scrollMenu" style="padding-right: 1rem;">
                        <div class="card carta" *ngFor="let vacante of publicaciones let i = index" style="margin-top: 1rem;">
                            <div class="encabezado">
                                &nbsp;
                            </div>
                            <div class="card-body">
                                <div class="acciones">
                                    <div class="btn-group">
                                        <label class="botonAcciones" type="button" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <h3>...</h3>
                                        </label>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item listaInfotec" (click)="modificarVacante(vacante)">Modificar
                                                    Vacante</a></li>
                                            <li><a class="dropdown-item listaInfotec" (click)="eliminarVacante(vacante)">Eliminar
                                                    Vacante</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h3 class="card-title">{{vacante.nombreVacante}} / {{vacante.especialista}}</h3>
                                <p class="card-text textoInformativo" style="padding-bottom: 0rem;">
                                    Empresa que contrata: {{vacante.empresa.nombre}}
                                    <br> Ubicación: {{vacante.municipio.nombreMunicipio}}
                                    <!-- ver si colocamos el estado -->
                                </p>

                                <div class="container text-rigth" style="padding: 0%;">
                                    <div class="row">
                                        <div class="col-2">
                                            <span class="badge rounded-pill pastillas"
                                                style="margin-right:.5rem; margin-bottom: .5rem; width: 180px;"> Sueldo
                                                mensual: $ {{vacante.sueldo}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">
                                            <span class="badge rounded-pill pastillas"
                                                style="margin-right: .5rem; margin-bottom: .5rem; width: 180px;">horario:
                                                {{vacante.horario}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-grid" style="margin-top: 1rem;">
                                    <button name="publicacion" type="button" class="btn botonVer" style="margin-bottom: .5rem;"
                                        (click)="mostrarCandidatos(vacante,i)">VER CANDIDATOS DE LA VACANTE</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <ng-template #pantallaVacia>
                    <p style="text-align: center;">El empleador no tiene Publicaciones</p>
                </ng-template>
            </div>
        </div>
    </div>
</div>

    <div name="panel" class="perfil" [ngClass]="{'view':ocultarCandidato, '':!ocultarCandidato}">
        <button name="cerrarBtn" type="button" class="btn-close borrar" aria-label="Close" (click)="cerrarPanel()"></button>
        <app-profile name="componente" [vistaAdministrar]="vistaAdministrar"></app-profile>
    </div>

