

<div *ngIf="cargarPantalla(); else PantallaVacia" style="display: block; margin-bottom: 9rem;">
    <div class="fijar">
        <div class="contenedorBusqueda">
            <div class="card botonBT">
                <button type="button" class="btn" style="width: 100%; background-color: red; color: white;"
                    (click)="quitarTodas()">ELIMINAR TODAS LAS
                    POSTULACIONES</button>
            </div>
        </div>
    </div>
    
    <div style=" margin-top: 3rem;">
        <div class="card vacantedeLista" name="postulacion" *ngFor="let postulacion of postulaciones">
            <div class="card-body">
                <h3 class="card-title">{{postulacion.vacante.nombreVacante}}</h3>
                <p class="card-text textoInformativo" style="padding-bottom: 0rem;">
                    Empresa que contrata: {{postulacion.vacante.empresa.nombre}}
                    <br> Ubicación:
                    {{postulacion.vacante.domicilio}}
                    <br>
                    {{postulacion.vacante.municipio.nombreMunicipio}} estado de
                    {{postulacion.vacante.municipio.estado.nombreEstado}}
                </p>

                <p class="card-text textoInformativo" style="padding-bottom: 1rem;">
                    {{postulacion.vacante.descripcion}}
                </p>

                <div class="container text-rigth" style="padding: 0%;">
                    <div class="row">
                        <div class="col-9">
                            <a class="btn btn-success botonInformativo"
                                style="margin-left: 0%; font-size: small;">horario: {{postulacion.vacante.horario}}
                            </a>
                            <a class="btn btn-success botonInformativo" style="font-size: small;">
                                Dias de trabajo:
                                {{postulacion.vacante.tipoHorario.dias}} </a>
                            <a class="btn btn-success botonInformativo" style="font-size: small;">
                                Modalidad de trabajo:
                                {{postulacion.vacante.tipoContratacion.horario}} </a>
                            <a class="btn btn-success botonInformativo" style="font-size: small;">
                                sueldo: $
                                {{postulacion.vacante.sueldo}} mxn </a>
                        </div>
                        <div class="col">
                            <a class="btn" style="width: 100%; font-size: small; background-color: red; color: white;"
                                (click)="eliminarPostulacion(postulacion)">eliminar Postulacion</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #PantallaVacia>
    <p style="text-align: center; margin-top: 3rem;">No hay nada aqui</p>
</ng-template>