.caja{
    display: flex;
}

.cajaIzquierda{
    display: block;
    width: 70%;
    padding-right: 90px;
}

.cajaDerecha{
    display: block;
    width: 30%;
}

.documentos{
    margin-left: 4rem;
}

.info{
    display: flex;
    padding-top: 1.5rem;
    padding-left: 180px;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.lineas{
    padding: 0%;
    margin-top: .3rem;
}

.infoCuerpo{
    padding-top: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 4rem;
}

.centrar{
    display: grid;
    place-items: center;
    padding-top: .8rem;
}

.centrarII{
    display: grid;
    place-items: center;
}
.bloquearDocumentos{
    opacity: .5rem;
    pointer-events: none;
}
.infoCuerpoD{
    padding-left: 1rem;
    padding-right: 1rem;
}

.bajo{
    z-index: 50;
}
.sobre{
    position: absolute;
    top: 60%;
    
}


.profesion{
    font-size: xx-large;
    color: rgb(97, 34, 50);
    opacity: .5;
}
.letrasInfotec{
    color: rgb(182,150,100);
}

.margenes{
    display: block;
    padding-right: 0%;
    padding-top: 0%;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.botonAcciones{
    font-size: xx-large;
    color:black;
    opacity: .5;
    width: 30px;
    border: none;
}

.scrollMenu{
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}

.acciones{
    position: absolute;
    top: 0%;
    left: 96%;
    z-index: 100;
}

.botonAcciones:hover{
    cursor:pointer;
}

.visualizarError{
 display: none;
}

.superior{
    padding-top: 2rem; 
}

.view{
    display:none;
}

.botonSinEfecto{
    cursor: default;
}

.documento{
    color: black;
    text-decoration:none;
    cursor: hand;
    transition: all 0.3s;
}

.menuDesp:hover{
    background-color: rgb(97, 34, 50);
    color: white;
}

 .carta{
    background-color:rgb(50, 90, 79);
    color: white;
 }

.documento:hover{
    transform:scale(1.09)
}

.pildora{
    width: 100%;
    border-radius: 10px;
    background-color: rgb(182,150,100);
    color: white;
}

.pildora:hover{
    background-color: rgb(50, 90, 79);
    color: white;
}


.completo{
    display: grid;
    margin-right: .5rem;
    width: 100%;
}

.contenedorComponent{  
    position:absolute;
    top: 20%;
    right: 10;
    padding-top: 2rem;
    width: 729px;
    height: 400px;
    z-index:1000;
}

.suspendida{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 10%;
    right: 0%;
    z-index: 1000;
}

.banner{
    width: 100%;
    height: 50px;
    display: grid;
    place-items: center;
    background-color: rgb(97, 34, 50);
    color: white;
}
