<div style="display: flex;">
    <div class="cajaIzquierda">
        <!--  -->
        <div class="card" style="width: 100%; height: 100%; padding: .5rem;">
            <div style=" position: relative;">
                <div class="bajo">
                    <div class="card text" style="height: 150px;">
                        <img [src]="imagenPort" *ngFor="let imagenPort of imgPortada" class="card-img" alt="..."
                            style="height: 150px;">
                        <div class="card-img-overlay">
                            <h5 class="card-title" style="text-align: right;"
                                [ngClass]="{'view':perfilTipoCandidato, '':!perfilTipoCandidato}">
                                {{candidato.profesion}}
                            </h5>
                        </div>
                    </div>
                    <div class="sobre">
                        <img [src]="imagenPerf" *ngFor="let imagenPerf of imgPerfil" class="img-thumbnail" alt="..."
                            style="height: 100px; width: 100px; margin-left: 1rem;">
                    </div>
                </div>
            </div>

            <div class="info">
                <h6 style="margin-right: .3rem;" [ngClass]="{'view':perfilTipoCandidato, '':!perfilTipoCandidato}">
                    {{candidato.usuario.nombre}} {{candidato.usuario.apellidoP}} {{candidato.usuario.apellidoM}}</h6>

                <h6 style="margin-right: .3rem;" [ngClass]="{'view':perfilTipoEmpleador, '':!perfilTipoEmpleador}">
                    {{empleador.usuario.nombre}} {{empleador.usuario.apellidoP}} {{empleador.usuario.apellidoM}}</h6>

                <h6 style="margin-right: .3rem;"
                    [ngClass]="{'view':perfilTipoAdministrador, '':!perfilTipoAdministrador}">
                    {{administrador.usuario.nombre}} {{administrador.usuario.apellidoP}}
                    {{administrador.usuario.apellidoM}}</h6>

                <h6 style="color: darkgray; font-style: oblique;"
                    [ngClass]="{'view':perfilTipoCandidato, '':!perfilTipoCandidato}"> ({{candidato.edad}})</h6>
            </div>
            <div class="infoCuerpo">

                <p style="font-size:x-small; line-height: 150%;"
                    [ngClass]="{'view':perfilTipoCandidato, '':!perfilTipoCandidato}">
                    Centro Educativo: {{candidato.centroEducativo}}
                    <br style="margin: 0%; padding: 0%;">
                    Actualmente laborando como: {{candidato.puestoActual}}
                </p>

                <p style="font-size:x-small; line-height: 150%;"
                    [ngClass]="{'view':perfilTipoCandidato, '':!perfilTipoCandidato}">
                    {{candidato.domicilio}}
                    <br style="margin: 0%; padding: 0%;">
                    {{candidato.municipio.nombreMunicipio}} Estado de {{candidato.estado.nombreEstado}}
                </p>

                <p style="font-size:x-small; line-height: 150%;"
                    [ngClass]="{'view':perfilTipoCandidato, '':!perfilTipoCandidato}">
                    {{candidato.usuario.correoElectronico}}
                    <br style="margin: 0%; padding: 0%;">
                    Tel: {{candidato.usuario.telefono}}
                </p>

                <p style="font-size:x-small; line-height: 150%;"
                    [ngClass]="{'view':perfilTipoAdministrador, '':!perfilTipoAdministrador}">
                    {{administrador.usuario.correoElectronico}}
                    <br style="margin: 0%; padding: 0%;">
                    Tel: {{administrador.usuario.telefono}}
                </p>

                <p style="font-size:x-small; line-height: 150%;"
                    [ngClass]="{'view':perfilTipoEmpleador, '':!perfilTipoEmpleador}">
                    {{empleador.usuario.correoElectronico}}
                    <br style="margin: 0%; padding: 0%;">
                    Tel: {{empleador.usuario.telefono}}
                </p>

                <b [ngClass]="{'view':perfilTipoCandidato, '':!perfilTipoCandidato}">Descripción</b>
                <p style="font-size:x-small; line-height: 150%; text-align: justify;"
                    [ngClass]="{'view':perfilTipoCandidato, '':!perfilTipoCandidato}">
                    {{candidato.descripcion}}
                </p>

            </div>
            <div class="infoCuerpo" [ngClass]="{'view':perfilTipoCandidato, '':!perfilTipoCandidato}">

                <span class="badge rounded-pill text-bg-secondary"
                    style="margin-right: .5rem;margin-bottom: .5rem;" *ngFor="let habilidad of habilidadesUsusario">{{habilidad.nombreHabilidad}}</span>
            </div>

            <div [ngClass]="{'view':perfilTipoEmpleador, '':!perfilTipoEmpleador}">
                <div style="text-align: center; margin-bottom: 2rem; padding-left: 1rem; padding-right: 1rem;">
                    <b>EMPRESAS PARA LAS QUE TRABAJA</b>
                    <hr>
                </div>

                <div style="margin: 1rem;">
                    <div *ngFor="let vacante of empresas">
                        <div class="card" style="margin-bottom: 1rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{vacante.empresa.nombre}}</h5>
                                <p class="card-text textoInformativo" style="padding-bottom: 0rem; font-size: x-small;">
                                    {{vacante.empresa.descripcion}}
                                    <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="padding-top:5rem; text-align: center; margin-right: .5rem;" [ngClass]="{'view':perfilTipoCandidato, '':!perfilTipoCandidato}">
            <div style="display: inline; width: 100%;">
                <button class="btn btn-light botonSinEfecto" style="background-color: white; border-color: darkgrey;">
                    <div>
                        <div style="display: block;">
                            <img src="https://firebasestorage.googleapis.com/v0/b/gdi-portalempleo.appspot.com/o/images%2FPDFimg.png?alt=media&token=155be6d8-1f55-42f1-9bc8-df0ea748cc43"
                                alt="">
                        </div>
                        <div style="padding-top: .5rem;">
                          
                            <a class="documento" [href]="rutaCv" target="_blank">
                                <H6> <b> CURRICULUM </b></H6>
                                <H6> <b> VISUALIZAR EL PDF </b></H6>
                            </a>
                        </div>
                    </div>
                </button>
            </div>

            <div style="display: inline; width: 100%; margin-left: .5rem;">
                <button class="btn btn-light botonSinEfecto" style="background-color: white; border-color: darkgrey;">
                    <div>
                        <div style="display: block;">
                            <img src="https://firebasestorage.googleapis.com/v0/b/gdi-portalempleo.appspot.com/o/images%2FPDFimg.png?alt=media&token=155be6d8-1f55-42f1-9bc8-df0ea748cc43"
                                alt="">
                        </div>
                        <div style="padding-top: .5rem;">
                            <a class="documento" [href]="rutaEspecialidad" target="_blank">
                                <H6> <b> ESPECIALIDAD </b></H6>
                                <H6> <b> VISUALIZAR EL PDF </b></H6>
                            </a>
                        </div>
                    </div>
                </button>
            </div>
        </div>


    </div>


    <div class="cajaDerecha">
        <div [ngClass]="{'view':vistaAdministrar, '':!vistaAdministrar}">
            <button type="button" class="btn btn-danger" style="width: 100%;"
                [ngClass]="{'':perfilTipoEmpresa, 'view':!perfilTipoEmpresa}" (click)="cerrarSesion();">CERRAR
                SESIÓN</button>
            <button type="button" class="btn btn-danger" style="width: 100%; margin-top: 1rem;"
                [ngClass]="{'':perfilTipoEmpresa, 'view':!perfilTipoEmpresa}">SUSPENDER CUENTA</button>
            <button type="button" class="btn btn-warning" style="width: 100%; margin-top: 1rem;"
                [ngClass]="{'':perfilTipoEmpresa, 'view':!perfilTipoEmpresa}" (click)="modificarDatosPerfil()">MODIFICAR
                CUENTA</button>
        </div>
    </div>
</div>