.centrar{
    display: grid;
    place-items: center;
}


.caja{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
}


.cajaIzquierda{
    display: grid;
    margin-right: .5rem;
    width: 50%;
    height: 100%;
}
.cajaDerecha{
    display: inline;
    margin-left: .5rem;
    width: 50%;
}

.on{
    display: none;
}
