.infoVacante{
    width: 350px;
    margin-top: .5rem;
}

.encabezado{
    border-radius: 5px 5px 0px 0px;
    font-size: xx-small;
    color:white;
    background-color: rgb(50, 90, 79) ;
}

.dato{
    z-index: 100;
    height: 20px;
    padding-left: 10px;
    font-size: small;
    border-radius: 10px 10px 10px 10px;
    color:white;
    background-color:rgb(50, 90, 79); 
    cursor: pointer;
}

.variable{
    opacity:1;
    height: 20px;
    margin-left: -20px;
    padding-left: 20px;
    font-size: small;
    border-radius: 10px 10px 10px 10px;
    background-color:rgb(182,150,100);
    color:white;
    transition: all 0.3s;
}

.estilos{
    padding: 2rem;
    opacity: 0;
    transition: all 0.3s;
}

.aparecer{
    padding: 2rem;
    opacity: 1;
    transition: all 0.3s;
}

.seleccionado{
    height: 20px;
    margin-left: -40px;
    padding-left: 40px;
    font-size: small;
    background-color:rgb(182,150,100);
    border-radius: 10px 10px 10px 10px;
    border-color: black;
    color:white;
    opacity: 1;
    transform: translateX(10%);
}

.barraSuperior{
    background-color:rgb(230, 230, 230);
    display: flex;
    width: 100%;
    height: 4rem;
}
.botonAtras{
    height: 4rem; 
    width: 4rem; 
    background-color: rgb(214, 214, 214);
}

.caja{
    padding-top: 0rem;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-bottom: 0rem;
    display: flex;
}
.superior{
    padding-top: 2rem; 
}
.cajaIzquierda{
    display: inline;
    margin-right: .5rem;
    width: 70%;
}
.cajaDerecha{
    display: inline;
    margin-left: .5rem;
    width: 30%;
}
.info{
    display: inline;
    padding-top: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

}

.infoCuerpo{
    padding-left: 1rem;
    padding-right: 1rem;
}
.imagen{
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.alto{
    border-radius: 15px 15px 15px 15px; 
    width: 180px; 
    height: 30px; 
    background-color: rgb(224, 224, 224);
    padding-left: 20px;
}
.bajo{
    background-color: rgb(154, 154, 154);
    margin-left: -180px;
    border-radius: 15px 15px 15px 15px; 
    width: 30px;
    height: 30px;
}

.altoSueldo{
    border-radius: 15px 15px 15px 15px; 
    width: 255px; 
    height: 30px; 
    background-color: rgb(224, 224, 224);
    padding-left: 20px;
}
.bajoSueldo{
    background-color: rgb(154, 154, 154);
    margin-left: -255px;
    border-radius: 15px 15px 15px 15px; 
    width: 30px;
    height: 30px;
}

.altoHoras{
    border-radius: 15px 15px 15px 15px; 
    width: 200px; 
    height: 30px; 
    background-color: rgb(224, 224, 224);
    padding-left: 20px;
}
.bajoHoras{
    background-color: rgb(154, 154, 154);
    margin-left: -200px;
    border-radius: 15px 15px 15px 15px; 
    width: 30px;
    height: 30px;
}

.altoModalidad{
    border-radius: 15px 15px 15px 15px; 
    width: 130px; 
    height: 30px; 
    background-color: rgb(224, 224, 224);
    padding-left: 20px;
}
.bajoModalidad{
    background-color: rgb(154, 154, 154);
    margin-left: -130px;
    border-radius: 15px 15px 15px 15px; 
    width: 30px;
    height: 30px;
}

.altoContra{
    border-radius: 15px 15px 15px 15px; 
    width: 180px; 
    height: 30px; 
    background-color: rgb(224, 224, 224);
    padding-left: 20px;
}
.bajoContra{
    background-color: rgb(154, 154, 154);
    margin-left: -180px;
    border-radius: 15px 15px 15px 15px; 
    width: 30px;
    height: 30px;
}

.visualizar{
    display:none
}