<div class="encabezado">
  &nbsp;
</div>
<div style="padding: 2rem;">
    <div style="width: 100%;">
        <b style="font-style:normal; font-size:xx-large;">{{nombre}} / {{especialista}}</b><br>
        <p style="font-size:medium; line-height: 150%; color: darkgray;">
            {{empresa.nombre}}
            <br style="margin: 0%; padding: 0%;">
            {{municipio.nombreMunicipio}} Estado de {{estado.nombreEstado}}
            <br style="margin: 0%; padding: 0%;">
            {{vacante.domicilio}} {{domicilio}}
        </p>
    </div>

    <div class="infoVacante">
      <div class="container">
        <div class="row">
          <b name="textoSueldo" class="col text-left dato">
            Salario mensual (Libres)
          </b>
          <b name="variableSueldo" class="col text-center variable">
            $ {{sueldo}}.00 mxn
          </b>
        </div>
      </div>
    </div>

    <div class="infoVacante">
      <div class="container">
        <div class="row">
          <b name="textoHorario" class="col text-left dato">
            Horario Laboral (Diario)
          </b>
          <b name="variableHorario" class="col text-center variable">
            {{horario}}
          </b>
        </div>
      </div>
    </div>

    <div class="infoVacante">
      <div class="container">
        <div class="row">
          <b name="textoDias" class="col text-left dato">
            Días Laborales (Semanal)
          </b>
          <b name="variableDias" class="col text-center variable">
            {{tipoHorario.dias}}
          </b>
        </div>
      </div>
    </div>

    <div class="infoVacante">
      <div class="container">
        <div class="row">
          <b name="textoModalidad" class="col text-left dato">
            Modalidad de Trabajo 
          </b>
          <b name="variableModalidad" class="col text-center variable">
            {{modalidadTrabajo.modalidad}}
          </b>
        </div>
      </div>
    </div>

    <div class="infoVacante">
      <div class="container">
        <div class="row">
          <b name="textoContratacion" class="col text-left dato">
            Tipo de Contratación
          </b>
          <b name="variableContratacion" class="col text-center variable">
            {{tipoContratacion.horario}}
          </b>
        </div>
      </div>
    </div>

    
      <div style="padding-top: 2rem; text-align: justify;">
        <p style="padding: 0rem">
          {{descripcion}}
        </p>

      <div class="container text-center" style="margin-top: 2rem;">
        <div class="row">
          <div class="col" style="font-size:small; line-height: 150%; color: darkgray;">
                Vacante publicada por : {{empleador.usuario.nombre}} {{empleador.usuario.apellidoP}} {{empleador.usuario.apellidoM}}
                Para mayor información recomendamos contactar al publicante al correo: {{empleador.usuario.correoElectronico}}.
          </div>
        </div>
      </div>

</div>



