<div style="padding: 2rem;">

    <div style="width: 100%;">
        <b style="font-style:normal; font-size:xx-large;">{{vacante.nombreVacante}} / {{vacante.especialista}}</b><br>
        <p style="font-size:medium; line-height: 150%; color: darkgray;">
            {{vacante.empresa.nombreEmpresa}}
            <br style="margin: 0%; padding: 0%;">
             {{vacante.municipio.nombreMunicipio}} <!-- Estado de {{vacante.municipio.nombreMunicipio}} -->
            <br style="margin: 0%; padding: 0%;">
            <!-- {{vacante.domicilio}} -->
        </p>
    </div>

    <div class="container text-left">
        <div class="row">
          <div class="col">
            <div style="display: flex; padding: 0.1rem; padding-bottom:.5rem;">
                <span class="input-group-text altoSueldo">
                    -  $ {{vacante.sueldo}}.00 mxn / Mensuales
                </span>
                <span class="input-group-text bajoSueldo">
                </span>
            </div>
          </div>
          <div class="col">
            <div style="display: flex; padding: 0.1rem; padding-bottom:.5rem;">
                <span class="input-group-text altoHoras">
                    - {{vacante.horario}}
                </span>
                <span class="input-group-text bajoHoras">
                </span>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="container text-left">
        <div class="row">
    
          <div class="col-4">
            <div style="display: flex; padding: 0.1rem; padding-bottom:.5rem;">
                <span class="input-group-text alto">
                    - {{vacante.tipoHorario.dias}}
                </span>
                <span class="input-group-text bajo">
                </span>
            </div>
          </div>

          <div class="col-3">
            <div style="display: flex; padding: 0.1rem; margin-left: .5rem; padding-bottom:.5rem;">
                <span class="input-group-text altoModalidad">
                    - {{vacante.modalidadTrabajo.modalidad}}
                </span>
                <span class="input-group-text bajoModalidad">
                </span>
            </div>
          </div>

          <div class="col">
            <div style="display: flex; padding: 0.1rem; margin-left: .8rem; padding-bottom:.5rem;">
                <span class="input-group-text altoContra">
                    - {{vacante.tipoContratacion.horario}}
                </span>
                <span class="input-group-text bajoContra">
                </span>
            </div>
          </div>
        </div>
      </div>
 -->

      <div style="padding-top: 1rem; text-align: justify;">
        <p style="padding: 0rem">
            {{vacante.descripcion}}
        </p>
    </div>
<!-- 
      <div class="container text-center" style="margin-top: 2rem;">
        <div class="row">
          <div class="col" style="font-size:small; line-height: 150%; color: darkgray;">
                Vacante publicada por : {{vacante.empleador.nombre}} {{vacante.empleador.apellidoP}}. {{vacante.empleador.apellidoM}}
                Para mayor información recomendamos contactar al publicante al correo: {{vacante.empleador.correoElectronico}}
          </div>
        </div>
      </div> -->

</div>



