<div class="contenedor">
    <div class="card panel">
        <div class="interiorSup">
            <b class="transformar">CAMBIO DE CONTRASEÑA</b>
        </div>
        <div class="margenes">
            <div>
                <div class="pass">
                    <div class="mensajes">
                        <label class="texto">Nueva contraseña </label>
                        <label class="error" [ngClass]="{'':errorPassI, 'view':!errorPassI}"> {{msErrorPassI}} </label>
                    </div>
                    <div class="captura">
                        <div class="cajaContrasena">
                            <input name="pass" type="{{passI}}" class="form-control form-control long" minlength="8" maxlength="10" placeholder="········" [(ngModel)]="passwordI">
                            <button class="mostar" (click)="mostrarI()">
                              <img class="imagenes" src="{{rutaI}}">
                            </button>
                          </div>
                    </div>
                    <div id="passwordHelpBlock" class="form-text">
                        La contraseña debe contar con mínimo 8 caracteres.
                      </div>
                </div>

                <div class="pass" style="margin-top: 2rem;">
                    <div class="mensajes">
                        <label class="texto">Verificar contraseña </label>
                        <label class="error" [ngClass]="{'':errorPassII, 'view':!errorPassII}"> {{msErrorPassII}} </label>
                    </div>
                    <div class="captura">
                        <div class="cajaContrasena">
                            <input name="pass" type="{{passII}}" class="form-control form-control long" minlength="8" maxlength="10" placeholder="········" [(ngModel)]="passwordII">
                            <button class="mostar" (click)="mostrarII()">
                              <img class="imagenes" src="{{rutaII}}">
                            </button>
                          </div>
                    </div>
                    <div id="passwordHelpBlock" class="form-text">
                        La contraseña ingresada debe coincidir con los datos del campo superior.
                      </div>
                </div>

                <div style="margin-top: 2rem;">
                    <button class="btn btnCambiar" (click)="validar()">GUARDAR CAMBIOS</button>
                </div>
            </div>
        </div>
    </div>
</div>